.campeao {
    width: 280px;
}

.campeao .cabecalho {
    border-radius: 10px 10px 0px 0px;
}

.campeao img {
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.campeao .rodape {
    background-color: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.campeao .rodape h4 {
    color: #6278F7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.campeao .rodape p {
    color: #212121;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    padding: 0px 16px;
}